.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-position: center;
  font-family: var(--main-font);
  background-size: cover;
}

.header {
  display: grid;
  min-block-size: 100vh;
}

.content-section {
  padding: 10px 10px;
}

.decorated-frame {
  position: relative;
}

.decorated-frame::before {
  content: "";
  position: absolute;
  justify-self: flex-end;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  border-top: 1px solid var(--section-title-color);
  border-right: 1px solid var(--section-title-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-frame::after {
  content: "";
  position: absolute;
  justify-self: flex-start;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  border-bottom: 1px solid var(--section-title-color);
  border-left: 1px solid var(--section-title-color);
  inline-size: 25px;
  block-size: 25px;
}


@media (min-width: 768px) {
  .decorated-frame::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }
}

@media (min-width: 768px) {
  .decorated-frame::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }
}
.header__theme-menu {
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
}

.header__theme-menu-item {
  text-align: center;
}

.header_title {
  align-self: center;
  justify-self: flex-start;
  color: var(--header-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

.header_item {
  justify-self: flex-end;
  position: relative;
}

.header_item::before {
  content: "REC";
  position: absolute;
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--accent-color);
  inset-inline-end: 28px;
}

.header_abzac {
  margin-block-start: 56px;
  margin-block-end: 56px;
  align-self: center;
}

@media (min-width: 768px) {
  .header_abzac {
    inline-size: 50%;
  }
}

.header__theme-menu-button {
  border: transparent;
  padding: 0;
  color: var(--section-title-color);
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  padding: 0px 13px;
  outline: 1px solid var(--section-title-color);
}

.text_content {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

.title_background {
  background-color: var(--accent-color);
  font-weight: 700;
  color: var(--title-color);
}

.section_title {
  color: var(--section-title-color);
  font-weight: 700;
  margin-block-end: 20px;
}

@media (min-width: 768px) {
  .content-section {
    padding: 20px 20px;
  }
}

.content_list {
  display: grid;
  gap: 20px;
}

.content_list-item {
  display: grid;
  gap: 10px;
}

.picture_section {
  display: grid;
  margin-block-start: 10px;
  gap: 6px;
  margin-block-end: -4px;
}

.content_picture {
  inline-size: 100%;
  object-fit: contain;
  object-position: center;
}

@media (min-width: 768px) {
  .content_picture {
    block-size: 100%;
    object-fit: cover;
  }
}

.footer {
  min-block-size: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
